.tp-room-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.room-name {
    margin-top: 0;
}

.positions-container {
  height: 100%;
  position: relative;
}

svg {
  background-color: black;
}

#board {
  height: 100%;
  width: 100%;
}

.marker {
  top: 50;
  left: 70;
  float: left;
  position: absolute;
  height: 30;
  width: 30;
  background-color: red;
}

.plupp {
  pointer-events: none;
}
